<div class="row justify-content-around burger-item-row">
  <div class="col-sm-6 col-6 eat-burgers">
    <li class="burger-item">
      {{burger_name}}
    </li>
  </div>
  <div class="col-sm-3 col-3">
    <button class="btn burger-btn devour-burger" data-id="{{id}}" data-devoured="{{devoured}}">
      Devour!
    </button>
  </div>
</div>




